<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Example</title>
</head>
<body>
    <h1>WebSocket Example</h1>

    <script>
        var socket = new WebSocket("ws://localhost:5355");

        socket.onopen = function () {
            console.log("WebSocket connected");
        };

        socket.onmessage = function (event) {
            console.log("Received message: " + event.data);
        };

        socket.onclose = function () {
            console.log("WebSocket closed");
        };

        function sendMessage() {
     /*       var message = document.getElementById("messageInput").value;*/
            socket.send(" Hi Men, Socket Connected");
        }
       
    </script>
</body>
</html>